<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252186826712-bo89skn65tkbgo812p2o2910hpqarfkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252186826712-bo89skn65tkbgo812p2o2910hpqarfkb</string>
	<key>API_KEY</key>
	<string>AIzaSyBx6rgUndfsG54rRQXdI6OiCIuGVOUXcag</string>
	<key>GCM_SENDER_ID</key>
	<string>252186826712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>red-social-8761a</string>
	<key>STORAGE_BUCKET</key>
	<string>red-social-8761a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252186826712:ios:b5c7f0eb48cd968f7c44ad</string>
</dict>
</plist>